header nav {
  font-size: 16px;
}

#main {
  margin-top: 40px;
}

ul {
  list-style-type: none;
}

.done {
  color: red; 
  text-decoration: line-through;
}

.button-inline {
  margin-left: 10px;
  display: inline-block;
}

