// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.actions {
  margin-top: 20px;
  margin-bottom: 20px;
}

.new-project h3 {
  font-size: 24px;
  font-weight: 500;
}

.project-name {
  padding-top: 5px;
  font-size: 16px;
}

.project-row {
  padding: 20px 0;
}

.project-button {
  margin-left: 10px;
  display: inline-block;
}

.new-project-row {
  margin-top: 60px;
}

